<head>
  <script type="text/javascript">
    function changeradioother(){
      var other= document.getElementById("other");
      other.value=document.getElementById("inputother").value;
    }
  </script>
</head>


<body>
<h1>Welcome to company search</h1>
<form action = '/company_result' method = 'POST'>
  Company Name: <input type="text" name="keyword" placeholder='Enter Company Name' /> <br>
  Country:
  <br>
  <input type="radio" name="country" value="all"/> All
  <input type="radio" name="country" value="US" checked/> United States
  <input type="radio" name="country" value="UK" /> United Kingdom
  <input type="radio" name="country" value="China" /> China
  <input type="radio" name="country" value="India" /> India <br>
  <input type="radio" name="country" id="other" value="other">Other <input  id="inputother" type="text" onchange="changeradioother()" />
  <br>
  <input type="submit" name="update" value="See result" />
</form>
</body>
